<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K.D KAI APPS</title>
    <!-- {% load static %} -->
    <link rel="stylesheet" href="css/style.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <script src="js/jquery-3.5.1.min.js"></script>


    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <script src="js/typed.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="icon" href="images/favicon.jpg">

</head>

<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#"><span>K.D KAI APPS</span></a></div>
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>
                <li><a href="#services" class="menu-btn">Services</a></li>
                <li><a href="#skills" class="menu-btn">Skills</a></li>
                <li><a href="#teams" class="menu-btn">Projects</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <!-- home section start -->
    <section class="home" id="home" style="background-image: url('images/calmsetup.jpg')">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, welcome to</div>
                <div class="text-2">K.D KAI APPS</div>
                <div class="text-3">We are a company specialized in </br><span class="typing"></span></div>
                <a href="https://daghlas.github.io/#contact">Hire us</a>
            </div>
        </div>
    </section>

    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About us</h2>
            <div class="about-content">
                <div class="column left">
                    <!-- {% load static %} -->
                    <img src="images/thumb1.jpg" alt="home">

                </div>
                <div class="column right">
                    <div class="text">K.D KAI APPS</br> <span class="typing-2"></span></div>
                    <p>We are a specialized mobile app development company dedicated to turning your innovative ideas into powerful, user-friendly mobile solutions. With a focus on seamless functionality and stunning design, we specialize in creating custom apps for Android platforms that enhance user experiences and drive business growth. Whether you're a startup or an established business, we work closely with you to deliver high-performance apps that meet your unique needs, while ensuring timely delivery and exceptional quality. Let us help you build the next game-changing app and take your business to the next level!
                     </p>
                    <!-- <a href="https://drive.google.com/file/d/1NgxMgEDpxHFZcxoj-ypMl1cxLvS06QD9/view?usp=drive_link">Download Resume</a> -->
                </div>
            </div>
        </div>
    </section>

    <!-- services section start -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">Our services</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-robot"></i>
                        <div class="text">Mobile Applications Development</div>
                        <p>We are a skilled mobile applications development company with a passion for creating innovative and user-friendly applications. With our strong foundation in mobile technologies, we specialize in crafting seamless and responsive experiences for both Android platforms. We leverage native robust languages such as Java, Kotlin and Dart to deliver high-quality, feature-rich cross-platform mobile applications using Flutter, and IDEs like Android Studio.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-bar-chart"></i>
                        <div class="text">Data Analytics</div>
                        <p>Our Data Analysis professionals offer comprehensive Data Analytics and Statistical 
                        Modeling services tailored to meet the distinct needs of businesses seeking data-driven 
                        insights for strategic decision-making. With expertise in data cleaning and preprocessing, visualization dashboards and statistical modeling, we empower businesses to transform raw data into actionable intelligence. We leverage on R Language and the various Python libraries such as Matplotlib, Pandas and NumPy along with Microsoft's PowerBi to archieve rewarding results.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-chart-line"></i>
                        <div class="text">Front-End Web Design</div>
                        <p> We are a talented front-end web designers who can turn concepts into visually stunning and engaging user experiences. With a keen eye for aesthetics and a deep understanding of user interface design, we bring websites to life with a harmonious blend of creativity and functionality using HTML, CSS, and JavaScript. Constantly staying updated on the latest design trends and industry best practices has helped us create visually appealing digital experiences that leave a lasting impression.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <!-- skills section start -->
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">Skills</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">Our creative skills &amp; experiences.</div>
                    <p>We are versatile professionals with robust skill sets across multiple domains.As Mobile Applications Developers, we specialize in crafting intuitive and feature-rich applications for Android platforms, leveraging languages like Java, Kotlin, and Dart using Flutter for cross platform and IDEs like Android Studio. In the realm of Data Analysis, we bring a data-driven approach to decision-making, utilizing our expertise in extracting valuable insights from complex datasets to drive informed business strategies. Additionally, as Front-End Web Developers, we are adept at creating visually appealing and responsive user interfaces using HTML, CSS, and JavaScript. With a passion driven culture for innovation and a commitment to staying abreast of industry trends, we seamlessly integrate our skills to deliver comprehensive solutions that excel in both functionality and design.
                    </p>
                    <!--<a href="https://github.com/daghlas/">My Github</a>-->
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>Java, Kotlin</span>
                            <span>99%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Firebase Database</span>
                            <span>99%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Data Analysis</span>
                            <span>99%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Flutter</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>HTML, CSS, JS</span>
                            <span>90%</span>
                        </div>
                        <div class="line php"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- teams section start -->
    <section class="teams" id="teams">
        <div class="max-width">
            <h2 class="title">Our Work</h2>
            <div class="carousel owl-carousel">
                <div class="card">
                    <div class="box">
                        <img src="images/my_helb.jpg" alt="home">
                        <div class="text">My HELB Application Prototype</div>
                        <p>We built the MyHELB application app, which is a fully functional prototype that emulates exactly how the whole funding and repayment process works. Working on this project broadened our understanding of how <b>Fintech Applications</b> work. We have been able to get an extensive understanding of financial apps such as banking applications and various money lending apps. The source codes for this project are in a private repository in my GitHub due to confidentiality reasons but they can be availed on arrangement.
                        </p>
                        <a href="https://github.com/daghlas/SplashEffect" style="  
    position: center;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: white;
    font-style: italic;
    padding: 0 5px;
    
    
    
    ">Github Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <!-- {% load static %} -->
                        <img src="images/my_rehab.jpg" alt="home">
                        <div class="text">My Rehabilitation Center</div>
                        <p>Picture a community fully free from the influence of runaway kids in the streets, where every young child is being brought up well and mentored before they can fully be dependent on themselves. Not only do we take care of these kids' current needs but also we see to it that their future and that of the community as a whole is sorted. MyRehab mobile application works to bring this imagination to its embodiment by collaborating with rehabilitation centers, and street children can be assigned to these available rehabs, and be adopted by a guardian or sponsor in the process who will work alongside with the responsible rehab to see to it that these children's basic needs adequately are met.</p>
                        <a href="https://github.com/daghlas/MyREHAB" style=" 
    position: center;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: white;
    font-style: italic;
    padding: 0 5px;
    
    ">Github Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/tax_admin.png" alt="home">
                        <div class="text">My Tax Administrator</div>
                        <p>Taxes are indispensable for the functioning of a government, providing the necessary revenue to fund public services, infrastructure, and social programs. Acknowledging our importance in the process is crucial for sustaining a well-functioning society. We developed this MiniPRN administrator, a mobile app that helps streamline the tax collection process by reducing redundancies through incorporating QR Codes on the e-payment slips and integrated the app with the Lipa Na Mpesa API to process all mpesa payments. This saves taxpayers' time and effort during the process and customs clearings can be done much faster without any payment hiccups whatsoever.</p>
                            <a href="https://github.com/daghlas/MiniPRN" style="

    position: center;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: white;
    font-style: italic;
    padding: 0 5px;
    
    ">Github Link</a>
                    </div>

                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/other_projects.png" alt="home">
                        <div class="text">Other Projects</div>
                        <p>We have also worked on a couple of other projects mainly to help sharpen our skills and showcase our dedication to creating seamless digital experiences. From cutting-edge features to elegant design, each app is a testament to our commitment to excellence in mobile apps engineering. Explore a diverse range of our applications and discover how they leverage the latest technologies to deliver optimal performances. Join us and let's bring your mobile experience to the next level together.</p>
                        <a href="https://github.com/daghlas?tab=repositories" style=" 
    position: center;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: white;
    font-style: italic;
    padding: 0 5px;
    
    ">Github Link</a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- contact section start -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contact us</h2>

            <div class="contact-content">
                <div class="column left">
                    <div class="text">Get in Touch</div>
                    <p>Contact us on any of the platforms and lets solve problems together. </p>
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">Name</div>
                                <div class="sub-title">K.D KAI APPS</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">Location</div>
                                <div class="sub-title">Kisumu, Kenya</div>

                            </div>
                        </div>

                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">Email</div>
                                <div class="sub-title">daghlaskaire58@gmail.com</div>

                            </div>
                        </div>

                        <div class="row">
                            <i class="fas fa-phone"></i>
                            <div class="info">
                                <div class="head">Phone Number</div>
                                <div class="sub-title">+254 723 325 631</div>
                                <div class="sub-title">+254 718 261 665</div>

                            </div>
                        </div>

                    </div>
                    <a href="https://www.linkedin.com/in/daghlas-kaire-905688187/" class="fa fa-linkedin" style=" padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #007bb5;
  color: white;"></a> <a href="https://github.com/daghlas" class="fa fa-github" style=" padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color:black"></a>
                </div>
                <div class="column right">
                    <div class="text">Message me</div>
                    <!-- {% csrf_token %} -->

                    <form id="contactForm">

                        <div class="fields">
                            <div class="field name">
                                <input type="text" name="name" placeholder="Name" id="contactName" required="">
                            </div>
                            <div class="field email">
                                <input type="email" name="email" placeholder="Email" id="contactEmail" required="">
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" name="subject" placeholder="Subject" id="contactSubject" required="">
                        </div>
                        <div class="field textarea">
                            <textarea cols="30" rows="10" name="message" id="contactMessage" placeholder="Message.." required=""></textarea>
                        </div>
                        <div class="button-area">
                            <button type="submit">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section start -->
    <footer>
        <span><a href="https://github.com/daghlas">K.D KAI APPS</a> | <span class="far fa-copyright"></span> 2024 All rights reserved.</span>
    </footer>
    <script src="js/script.js"></script>
    <script src="js/smtp.js"></script>
    <script>

        //document.getElementById('contactSubmitBtn').addEventListener("click", submitForm) 
        document.getElementById('contactForm').addEventListener("submit", submitForm)

        function submitForm(e) {
                e.preventDefault();
                const targetVariable = e.target;
                console.log('e', e.target.contactName.value);
                sendEmail(targetVariable.contactName.value, targetVariable.contactSubject.value, targetVariable.contactEmail.value, targetVariable.contactMessage.value )
            }

            function sendEmail (name, subject, email, message) {
                Email.send({
                    Host: "smtp.gmail.com",
                    Username: "daghlaskaire58@gmail.com",
                    Password: "oavp jdkg rjwo srdg",
                    To: email,
                    From: "kdkaiapps@gmail.com",
                    Subject: subject + " ~ " + name,
                    Body: message
                }).then(
                    message => alert(message)
                );
            }

    </script>


</body></html>
